In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

# CCL name cleaning GDSC

In [100]:
gdsc_dr = pd.read_csv('data/GDSC/metrics.csv').rename(columns={'Cell_line':'CCL'})
gdsc_ge = pd.read_csv('data/GDSC/ge.csv', sep='\t').rename(columns={'Unnamed: 0':'CCL'}).transpose()

In [9]:
def clean(s):
    new = []
    for i in s:
        new.append(re.sub("[^A-Za-z0-9]", '', i).upper())
    return new

In [102]:
poz_r = list(gdsc_dr['CCL'].unique())
cell_r = list(gdsc_ge.index.to_series().reset_index()[0])

cell = clean(cell_r)
poz = clean(poz_r)

In [103]:
miss1 = []
for ccl in poz:
    if ccl not in cell:
        miss1.append(ccl)

miss1.remove('TTTHYROID')
print(len(miss1))
miss1

7

['786O', 'COLO320', 'EOL1', 'KNS81', 'NCIH510', 'U266B1', 'UO31']

In [104]:
poz2 = {k:re.sub("[^A-Za-z0-9]", '', k).upper() for k in poz_r if re.sub("[^A-Za-z0-9]", '', k).upper() not in miss1}

miss1_sub = ['7860', 'COLO320HSR','EOL1CELL', 'KNS81FD', 'NCIH510A' , 'U266', 'U031']

for i, ele in enumerate(miss1):
    poz2[ele] = miss1_sub[i]

In [105]:
gdsc_dr['CCL'] = gdsc_dr['CCL'].replace(poz2)
gdsc_dr = gdsc_dr[gdsc_dr['CCL']!='TTTHYROID']

In [106]:
gdsc_dr.to_csv('data/Processed/gdsc_poz_dr.csv', index =False)

In [82]:
gdsc_ge = gdsc_ge.reset_index()
gdsc_ge.columns = gdsc_ge.iloc[0]
gdsc_ge = gdsc_ge[1:]

In [83]:
cell_sub = {k:re.sub("[^A-Za-z0-9]", '', k).upper() for k in gdsc_ge['CCL']}
gdsc_ge['CCL'] = gdsc_ge['CCL'].replace(cell_sub)

In [84]:
drop = ['index']
for i in gdsc_ge['CCL']:
    if i not in gdsc_dr['CCL'].unique():
        drop.append(i)
gdsc_ge = gdsc_ge[~gdsc_ge['CCL'].isin(drop)].reset_index()

In [85]:
gdsc_ge.set_index('CCL').drop('index', axis=1).loc['KMH2']

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A3GALT2P,A4GALT,A4GNT,AAAS,AACS,...,ZW10,ZWILCH,ZWINT,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
CCL,,,,,,,,,,,,,,,,,,,,,
KMH2,5.57091,2.9072,3.82674,2.81857,3.24614,3.24614,3.16653,3.35596,5.29611,3.98259,...,7.44839,8.26429,9.63864,4.21265,4.64859,4.58405,4.62811,5.06164,4.7705,8.02462
KMH2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
gdsc_ge = gdsc_ge.drop_duplicates('CCL', keep='first')

In [99]:
gdsc_ge.drop('index', axis=1).to_csv('data/Processed/gdsc_cell_ge.csv', index=False)

# CCL name cleaning CCLE

In [58]:
ccle_ge = pd.read_csv('data/CCLE/ge.csv', sep='\t').rename(columns={'Unnamed: 0':'CCL'}).transpose()
ccle_dr = pd.read_csv('data/CCLE/metrics.csv').rename(columns={'Cell_line':'CCL'})

In [59]:
poz = list(ccle_dr['CCL'].unique())
cell = list(ccle_ge.index.to_series().str.upper().reset_index()[0])

In [60]:
poz = clean(poz)
cell = clean(cell)

In [61]:
miss2 = []
for ccl in poz:
    if ccl not in cell:
        miss2.append(ccl)
miss2

['BGC823',
 'GLC82',
 'KP1N',
 'KP1NL',
 'M059J',
 'MB157',
 'OVCAR3',
 'SF8657',
 'SNUC2B']

In [62]:
ccle_dr_2 = ccle_dr[~ccle_dr['CCL'].isin(['BGC823', 'GLC82', 'KP1N', 'KP1NL', 'M059J', 'SF8657', 'SNUC2B', 'MB157'])]
ccle_dr_2.to_csv('data/Processed/ccle_poz_dr.csv', index =False)

In [63]:
ccle_ge = ccle_ge.reset_index()
ccle_ge.columns = ccle_ge.iloc[0]
ccle_ge = ccle_ge[1:]

In [64]:
cell_sub = {k:re.sub("[^A-Za-z0-9]", '', k).upper() for k in ccle_ge['CCL'].unique()}
cell_sub['NIH:OVCAR-3'] = 'OVCAR3'
ccle_ge['CCL'] = ccle_ge['CCL'].replace(cell_sub)

In [65]:
drop = ['index']
for i in ccle_ge['CCL']:
    if i not in ccle_dr['CCL'].unique():
        drop.append(i)
ccle_ge = ccle_ge[~ccle_ge['CCL'].isin(drop)].reset_index()

In [21]:
ccle_ge = ccle_ge.drop('index', axis=1)
ccle_ge.to_csv('data/Processed/ccle_cell_ge.csv', index =False)

# CCL name cleaning CTRP

In [35]:
ctrp_ge = pd.read_csv('data/CTRP/cell_ge.csv', sep='\t').rename(columns={'Unnamed: 0':'CCL'}).transpose()
ctrp_dr = pd.read_csv('data/CTRP/metrics.csv').rename(columns={'Cell_line':'CCL'})

In [36]:
import re

poz_r = list(ctrp_dr['CCL'].unique())
poz = clean(poz_r)

In [37]:
miss = []
for ccl in poz:
    if ccl not in cell:
        miss.append(ccl)
len(miss)

49

In [38]:
miss

['2004',
 'ASKA',
 'BT112',
 'BT131',
 'BT139',
 'BT145',
 'BT147',
 'BT159',
 'BT16',
 'BT164',
 'BT172',
 'BT179',
 'BT216',
 'BT224',
 'BT228',
 'BT231',
 'BT232',
 'BT239',
 'BT245',
 'BT248',
 'BT271',
 'BT286',
 'BT320',
 'BT328',
 'BT330',
 'BT333',
 'BT340',
 'BT359',
 'BT416',
 'BT422',
 'BT428',
 'BT440',
 'BT444',
 'BT482',
 'BT498',
 'BT504',
 'H292',
 'HS578BST',
 'HS888LU',
 'HSTS',
 'KRIJ',
 'PSTS',
 'SW982',
 'SYO1',
 'TM8716',
 'TTTHYROID',
 'UCH1',
 'YAMATO',
 'BT187']

We will drop all CCL's of the series BT and some others not found on cellminercdb

In [39]:
drop = [v for v in miss if v[:2]=='BT']

In [40]:
drop.extend(['2004', 'ASKA', 'HSTS', 'KRIJ', 'PSTS', 'HS578BST', 'SW982', 'SYO1', 'TM8716', 'UCH1', 'YAMATO'])

In [41]:
poz2 = {k:re.sub("[^A-Za-z0-9]", '', k) for k in poz_r if re.sub("[^A-Za-z0-9]", '', k).upper() not in miss}

miss1_sub = ['NCIH292', 'HS888T', 'TT']

miss = [v for v in miss if v not in drop]
for i, ele in enumerate(miss):
    poz2[ele] = miss1_sub[i]

In [42]:
ctrp_dr = ctrp_dr[~ctrp_dr['CCL'].isin(drop)]
ctrp_dr['CCL'] = ctrp_dr['CCL'].replace(poz2)

In [70]:
ctrp_dr = ctrp_dr[ctrp_dr['CCL'].isin(ccle_ge['CCL'])]
ctrp_dr.to_csv('data/Processed/ctrp_poz_dr.csv', index =False)

In [67]:
ctrp_ge = ccle_ge
drop = ['index']
for i in ctrp_ge['CCL']:
    if i not in ctrp_dr['CCL'].unique():
        drop.append(i)
ctrp_ge = ctrp_ge[~ctrp_ge['CCL'].isin(drop)].reset_index()

In [69]:
ctrp_ge.drop(['index', 'level_0'], axis=1).to_csv('data/Processed/ctrp_cell_ge.csv', index =False)